<div class = "container">
  <div class="panel panel-default">
  <div class="panel-heading">Profile details</div>
  <div class="panel-body">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Firstname:</strong>
    <%= @profile.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= @profile.lastname %>
  </p>

  <p>
    <strong>Hospital:</strong>
    <%= @profile.hospital %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @profile.user_id %>
  </p>

  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Back', profiles_path %> |
  <%= link_to 'Patients', patients_path %> |
</div>
</div>
</div>
