<div class="container">

  <div class="panel panel-default">
    <div class="panel-body">
<h1>Requests in <%= @patient.first_name %> <%= @patient.last_name %></h1>
<div class="table-responsive">
<table class="table table-hover">

<tr>
<th>Request details</th>
</tr>
<% for request in @requests %>
<tr>
<td><%= request.details %></td>
<td><%= request.date %></td>
<td><%= link_to 'Show', patient_request_path(@patient, request)
%></td>
<td><%= link_to 'Edit', edit_patient_request_path(@patient, request)
%></td>
<td><%= link_to 'Destroy', patient_request_path(@patient, request),
:confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>
</div>
<br />
<%= link_to 'New request', new_patient_request_path(@patient) %>
<%= link_to 'Back to Patient', @patient %>
</div>
</div>
</div>
